.header {
  font-size: 48px;
  text-align: center;
}

button {
  display: block;
  margin: 32px auto;
  text-align: center;
  width: 64px;
}

.container {
  border: 2px solid black;
  width: 320px;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  border: 0.2px dotted black;
  box-sizing: border-box;
}

.bg-purple {
  background-color: blueviolet;
}

.clearBtn {
  color: red;
  background-color: white;
  border: 2px solid red;
  border-radius: 25px;
  font-weight: bold;
}

.clearBtn:hover {
  color: white;
  background-color: red;
}